.contactContainer {
  min-height: 50vh;
}

.contact form {
  width: 90%;
}

.formItem {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.formItem label {
  margin-bottom: 5px;
}
.formItem input {
  height: 50px;
  padding: 5px;
  outline: none;
}
.formItem textarea {
  outline: none;
}
.formItem textarea {
  height: 150px;
  padding: 5px;
}
.formItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}


.errorContainer span {
  color: red;
  font-size: 0.8rem;
  margin-right: 5px;
}

.nospinners {
  -moz-appearance: textfield;
}

.nospinners::-webkit-outer-spin-button,
.nospinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media only screen and (max-width: 950px) {
  .contactContainer form {
    width: 100%;
  }
}
@media (min-width: 950px) and (max-width: 1100px) {
  .contactContainer form {
    width: 70%;
  }
}
