.container {
  background-image: url(/images/banner.jpg);
  background-position: center center;
  background-size: cover;
  max-width: 1500px;
}
@media (max-width: 500px) {
  .container {
    height: 220px;
  }
}
@media (min-width: 501px) {
  .container {
    height: 230px;
  }
}
@media (min-width: 700px) {
  .container {
    height: 300px;
  }
}
@media (min-width: 800px) {
  .container {
    height: 330px;
  }
}
@media (min-width: 950px) {
  .container {
    height: 350px;
  }
}
@media (min-width: 1100px) {
  .container {
    height: 450px;
  }
}
@media (min-width: 1300px) {
  .container {
    height: 290px;
  }
}
@media (min-width: 1500px) {
  .container {
    height: 330px;
  }
}
