.pagination {
  margin-top: 15px;
}
.pagination button {
  margin: 0 10px !important;
  height: 30px;
  width: 30px;
}

.active {
  background-color: black !important;
  color: #fff;
  border: 1px solid #fff;
}
